/*
pequenas telas: até 600px
Celular: de 600px até 768px
Tablet:  769px até 992px
Desktop:    993 até 1200px
Grandes telas: Acima de 1200px
*/


@media screen and (min-width: 768px) and (max-width: 992px){

    section#containerhabilidades > article#logos{
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        margin: auto;
    }

    section#containerhabilidades > article#logos > i{
        width: 10%;
    }

    section#containerhabilidades > article#logos > p{
        width: 10%;
    }
    
    div#projetos {
        width: 100%;
        display: flex;
    }

    div#contato > section > article{
        width: 30%;
    }

    
}

@media screen and (min-width: 992px){

    .configProjeto{
        min-width: 800px;
        max-width: 1000px;
    }

    img#angularimagem{
        display: block;
        width: 500px;
        height: 500px;
        margin: auto;
    }

    section#cursos{
        min-width: 800px;
        max-width: 1000px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
    }

    section#containerhabilidades{
        display: flex;
        margin: auto;
        width: 1000px;
        padding-bottom: 50px;
        font-size: 1.3em;
    }

    section#containerhabilidades > article#logos{
        display: flex;
        flex-wrap: wrap;
        width: 50%;
    }

    section#containerhabilidades > article#logos > i{
        width: 50%;
    }

    section#containerhabilidades > article#logos > p{
        width: 50%;
    }

    div#containerprojetos {
        min-width: 800px;
        max-width: 1000px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
    }

    
/* sobre mim */

    section#sobremim{
        width: 1000px;
    }

    section#sobremim > p{
        padding: 15px;
        text-align: justify;
        text-indent: 50px;
    }

    /* contatos */
    div#contato > section{
        width: 900px;
        margin: auto;
    }

    div#contato > section > article{
        width: 33%;
        font-size: 1.3em;
    }


    div#contato > section > article > p > a:hover{
        color: rgb(0, 95, 173);
        text-shadow: rgb(0, 95, 173) 1px 1px 20px;
        cursor: pointer;
    }
        
}