main#home{
    background-color: var(--cor1);
    box-shadow: inset 6x 6x 13px 0px black;
    background-size: cover;
    background-attachment: fixed;
    background-image: url('../imagens/background.jpg');
    background-position: right center;
}



main#home > h1{
    text-align: center;
    font-weight: bolder;
    font-size: 2em;
    padding-top: 10px;
    color: white;
}


main#home > p{
    text-align: center;
    font-weight: bolder;
    font-size: 1em;
    padding-bottom: 10px;
    color: white;
}

section#cursos{
    padding-bottom: 20px;
}

article.carta {
    width: 300px;
    height: auto;
    margin: auto;
    border: 1px solid black;
    margin: 20px auto;
    background-color: white;
}

article.carta > h2 {
    padding: 10px;
    font-weight: bold;    
}

article.carta > p {
    margin: 10px;
    font-weight: normal;    
}

div.carta{
    display: inline-block;
    width: 300px;
    height: 300px;
    border-bottom: 1px solid black;
}

div#imagemcarta1 {
    background-image: url('../imagens/htmlcss-vip-mod1-300x300.jpg');
    background-repeat: no-repeat;
    background-size: auto;
}

div#imagemcarta2 {
    background-image: url('../imagens/htmlcss-vip-mod2-300x300.jpg');
    background-repeat: no-repeat;
}

div#imagemcarta3 {
    background-image: url('../imagens/htmlcss-vip-mod3-300x300.jpg');
    background-repeat: no-repeat;
}

div#imagemcarta4 {
    background-image: url('../imagens/htmlcss-mod4-300x300.jpg');
    background-repeat: no-repeat;
}

div#imagemcarta5 {
    background-image: url('../imagens/javascript-300x300.jpg');
    background-repeat: no-repeat;
}