/*
pequenas telas: até 600px
Celular: de 600px até 768px
Tablet:  769px até 992px
Desktop:    993 até 1200px
Grandes telas: Acima de 1200px
*/

@media screen and (min-width: 992px){
    section#cursos{
        min-width: 800px;
        max-width: 1000px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
    }


}