main#home{
    background-color: var(--cor1);
}

main#home > h1{
    text-align: center;
    font-weight: bolder;
    font-size: 2em;
}

main#home > p{
    text-align: center;
    font-weight: bolder;
    font-size: 1em;
}

article.carta {
    width: 300px;
    height: auto;
    margin: auto;
    border: 1px solid black;
    margin: 20px auto;
    background-color: white;
    
}

article.carta > h2 {
    padding: 10px;
    font-weight: bold;    
}

article.carta > p {
    margin: 10px;
    font-weight: normal;    
}

div.carta{
    display: inline-block;
    width: 300px;
    height: 300px;
    border-bottom: 1px solid black;
}