main#home > h1{
    text-align: center;
    font-weight: bolder;
    font-size: 2em;
    padding-top: 10px;
    color: black;
}


main#home > p{
    text-align: center;
    font-weight: bolder;
    font-size: 1em;
    padding-bottom: 10px;
    color: block;
}

 /* inicio */

section#inicio{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    margin-bottom: 30px;
}


section#inicio > h1{
    width: 100%;
    font-size: 2em;
    padding: 5px;
    display: block;
}


section#inicio > p{
    width: 100%;
    font-size: 2em;
    padding: 5px; 
    color:rgb(0, 95, 173);
    text-shadow: rgb(0, 95, 173) 1px 1px 20px;
}

section#inicio > ul{
    padding: 5px;
    display: flex;
    font-size: 2em;
}

section#inicio > ul > li > a {
    color: white;
    padding: 5px;
}

section#inicio > ul > li > a:hover {
    cursor: pointer;
    color: rgb(0, 95, 173);
    text-shadow: rgb(0, 95, 173) 1px 1px 20px;
}

/* Projetos */

section#projetos {
    height: 100vh;
    width: 100%;
}

section#projetos > h1{
    padding-top: 50px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 2em;
}

.projetoCarta{
    margin: auto;
    width: 300px;
    height: 400px;
    padding: 5px;
    background-color: #0F0F0F;
    border: 1px solid rgb(0, 95, 173);
    box-shadow: rgb(0, 95, 173) 1px 1px 20px;
    margin-bottom: 20px;
}

.projetoCarta:hover{
    border: 1px solid white;
    box-shadow: white 1px 1px 20px;
}

div#imagemProjeto{
    display: flex;
    align-items: center;
    text-align: center;
    height: 200px;
}


div#imagemProjeto img{
    width: 250px;
    height: 141px;
    margin: auto;
    margin-top: 30px;
}

.projetoConteudo{
    width: 250px;
    margin: auto;
}

.projetoConteudo > h2{
    padding-top: 10px;
    font-size: 2em;
    margin-bottom: 10px;
}


.projetoConteudo > p{
    font-size: 1.0em;
}

/* Habilidades */
section#habilidades{
    height: 100vh;
}

section#habilidades > h1{
    padding-top: 50px;
    text-align: center;
    font-size: 2em;
}

section#habilidades > article#logos{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  
}

section#habilidades > article#logos > i{
    width: 50%;
    text-align: center;
    font-size: 3em;
    padding-top: 30px;
}

section#habilidades > article#logos > p{
    width: 50%;
    text-align: center;
    font-size: 3em;
    padding-top: 30px;
}

section#habilidades > article#logos > i:hover{
    color:rgb(0, 95, 173);
    text-shadow: rgb(0, 95, 173) 1px 1px 20px;
}

section#habilidades > article#logos > p:hover{
    color:rgb(0, 95, 173);
    text-shadow: rgb(0, 95, 173) 1px 1px 20px;
}

section#habilidades > article#texto{
    background-color: white;
    width: 300px;
    height: 300px;

    margin: auto;
    margin-top: 50px;
}

/*  */
section#cursos{
    padding-bottom: 20px;
}

article.carta {
    width: 300px;
    height: auto;
    margin: auto;
    color: black;
    margin: 20px auto;
   background-color: white;
}

article.carta:hover{
    border: 1px solid black;
}

article.carta > h2 {
    padding: 10px;
    font-weight: bold;    
}

article.carta > p {
    margin: 10px;
    font-weight: normal;    
}

div.carta{
    display: inline-block;
    width: 300px;
    height: 300px;
    border-bottom: 1px solid black;
}

div#imagemcarta1 {
    background-image: url('../imagens/htmlcss-vip-mod1-300x300.jpg');
    background-repeat: no-repeat;
    background-size: auto;
}

div#imagemcarta2 {
    background-image: url('../imagens/htmlcss-vip-mod2-300x300.jpg');
    background-repeat: no-repeat;
}

div#imagemcarta3 {
    background-image: url('../imagens/htmlcss-vip-mod3-300x300.jpg');
    background-repeat: no-repeat;
}

div#imagemcarta4 {
    background-image: url('../imagens/htmlcss-mod4-300x300.jpg');
    background-repeat: no-repeat;
}

div#imagemcarta5 {
    background-image: url('../imagens/javascript-300x300.jpg');
    background-repeat: no-repeat;
}